:root{
    --colorText: white;
    --back1: linear-gradient(to right, greenyellow, green);
    --back2: linear-gradient(to left, greenyellow, green);
}

header{
    color: var(--colorText);
    background-image: var(--back1) ;
}
header:hover{
    background-image: var(--back2);
}
header h1{
    color: white;
    text-decoration: underline;
}
.hidden{
    display: none;
}
/* El estillo de la descripción */
section{
    border: solid, 0px;
    border-radius: 700px;
    background-color: bisque;
}
